$neon-blue: #4c64ff;
$cornflower-blue: #7285ff;
$cornflower-blue2: #7285ff77;
$cornflower-blue3: #7285ff93;
$maximum-blue-purple: #9ab2fa;
$magnolia: #eef0ff;
$ghost-white: #f8f8ff;
$manatee: #959ba6;
$cool-grey: #9193aa;
$cadet-blue-crayola: #a8aabc;
$cadet-blue-crayola2: #e9ebf3;
$cadet-blue-crayola3: #a8aabc8c;
$white: #ffffff;
$black: #000000;
$medium-aquamarine: #68e09b;
$sky-blue: #3294e5;
$sky-blue2: #77c2ff;