$neon-blue: #4c64ff;
$cornflower-blue: #7285ff;
$maximum-blue-purple: #9ab2fa;
$magnolia: #eef0ff;
$ghost-white: #f8f8ff;
$manatee: #959ba6;
$cool-grey: #9193aa;
$cadet-blue-crayola: #a8aabc;
$cadet-blue-crayola2: #e0e2ee;
$white: #ffffff;
$black: #000000;
$medium-aquamarine: #68e09b;