@import './variables';

// Logo
.logo {
  color: $cornflower-blue;
  font: {
    size: 2.2rem;
    weight: 700;
  }

  &:hover {
    color: $neon-blue;
    transition: 0.2s;
  }
}

// Search box
.search-box {
  width: 80%;
  background: $white;
  padding: 0.5rem 1rem;
  border: 2px solid $cadet-blue-crayola2;
  border-radius: 0.8rem;

  .search-box__form {
    @include flex-justify_between-items_center();
  }

  .search-box__input {
    width: 100%;
    font-size: 1.4rem;
  }

  .search-box__btn {
    color: $cadet-blue-crayola;
    margin-left: 1rem;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      color: $cornflower-blue;
      transition: 0.2s;
    }
  }
}

// Menu button
.btn-menu {
  color: $cornflower-blue;
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    color: $neon-blue;
    transition: 0.2s;
  }
}

// Icons
.icon-medium {
  width: 2.8rem;
  height: 2.8rem;
}

.icon-small {
  width: 1.8rem;
  height: 1.8rem;
}

// Icon color - #7285ff
.icon-color-blue {
  filter: invert(52%) sepia(27%) saturate(3976%) hue-rotate(210deg) brightness(101%) contrast(101%);
}

// hr tags
.hr-big {
  width: 2px;
  height: 110px;
  background: $cadet-blue-crayola2;
  border: none;
}

.hr-small {
  width: 2px;
  height: 60px;
  background: $cadet-blue-crayola2;
  border: none;
}

// Card style
.card-style {
  padding: 1.5rem 2rem;
  border-radius: 1.3rem;
  //margin: 2rem 0 4rem 0;
}