@import './globalStyling/reset';
@import './globalStyling/colors';
@import './globalStyling/components';
@import './globalStyling/variables';

main {
  height: 100vh;
  background: $magnolia;
}

.main-section {
  @include flex-justify_center-items_center();
}

// Main section
#main-container {
  width: 70%;
  @include flex-column-justify_center-items_center();
  background: $ghost-white;
  padding: 2rem 4rem 4rem 4rem;
  margin-top: 4rem;
  border: 3px solid $cornflower-blue;
  border-radius: 2rem;
  box-shadow: 0 20px 60px -20px $cornflower-blue2;
}

// ---- Header ----
.header {
  width: 100%;
  @include flex-justify_between-items_center();
}

// Header navigation
.header-nav {
  width: 25%;
  @include flex-justify_between-items_center();
}

// ---- Weather card ----
.weather-card {
  width: 100%;
  @include flex-justify_between-items_end();
  background: rgb(50, 148, 229);
  background: linear-gradient(
    54deg,
    rgba(50, 148, 229, 1) 15%,
    rgba(114, 133, 255, 1) 159%
  );
  padding: 8rem 2rem 2rem 2rem;
  margin: 2rem 0 4rem 0;
  border-radius: 1.3rem;
}

// ---- Right side of the card - Temperature
.weather-info_icon {
  color: $white;
  font-size: 4rem;
}
// Temperature
.card-temperature {
  color: $white;
  font: {
    size: 9rem;
    weight: 200;
  }
  line-height: 1;
  letter-spacing: -0.9rem;
}

// Location
.card-location {
  color: $white;
  font: {
    size: 2.2rem;
    weight: 300;
  }
}

// Left side of the card - Time
.weather-card_time {
  @include flex-column-items_end();

  .clock {
    color: $white;
    font: {
      size: 2rem;
      weight: 500;
    }
  }

  .time-and-day {
    color: $white;
    font: {
      size: 2rem;
      weight: 300;
    }
  }
}

.left-side-cards {
  width: 35%;
  @include flex-column();
}

// Details card - humidity, UV index, sunset, sunrise
.details-card {
  width: 100%;
  @include flex-justify_center-items_center();
  background: $white;
  padding: 1rem 2rem;
  border: 2px solid $cadet-blue-crayola2;
  border-radius: 1.3rem;

  .details-card_half__top-detail {
    margin-bottom: 6rem;
  }

  .detail {
    display: flex;

    .detail__icon {
      margin-right: 1rem;
    }

    .detail__title-value {
      @include flex-column();

      .detail__value {
        font-weight: 700;
      }
    }
  }
}

// Rainfall card
.rainfall-card {
  // width: 100%;
  @include flex-justify_between-items_center();
  background: rgb(154, 178, 250);
  background: linear-gradient(
    90deg,
    rgba(154, 178, 250, 1) 15%,
    rgba(114, 133, 255, 1) 65%
  );
  padding: 1.5rem 2rem;
  margin-top: 4rem;
  border-radius: 1.3rem;

  .rainfall-card__month {
    @include flex-column();
  }
  .rainfall-card__year {
    @include flex-column-items_end();
  }
  .rainfall-card__month__monthly,
  .rainfall-card__year__this-year {
    color: $white;
    margin-bottom: 1rem;
  }

  .rainfall-card__month__amount,
  .rainfall-card__year__amount {
    color: $white;
    font-weight: 700;
  }

  .rainfall-card__year__amount {
    color: $medium-aquamarine;
  }
}
